.AboutDiv {
  background: url(../../../images/about.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

@media screen and (max-width: 800px) {
  .AboutDiv {
    background-position: center left;
  }
}
